<a href="https://colab.research.google.com/github/ZiminPark/data-engineering-batch6/blob/main/(6%EA%B8%B0)_Transaction_%EB%B0%B0%EC%9A%B0%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 트랜잭션이란? 동시에 Atomic하게 실행되어야 하는 SQL들을 묶어서 하나의 작업처럼 처리하는 방법

In [4]:
%load_ext sql
%sql postgresql://kpdpkp:Kpdpkp!1@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: kpdpkp@dev'

In [5]:
import psycopg2

# Redshift connection 함수
# - user와 password를 본인 것으로 수정!
def get_Redshift_connection(autocommit):
    host = "learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com"
    user = "kpdpkp"
    password = "Kpdpkp!1"
    port = 5439
    dbname = "dev"
    conn = psycopg2.connect(f"dbname={dbname} user={user} host={host} password={password} port={port}")
    conn.set_session(autocommit=autocommit)
    return conn

# INSERT SQL을 autocommit=False로 실행

In [19]:
conn = get_Redshift_connection(False)
cur = conn.cursor()

In [11]:
cur.execute("SELECT * FROM kpdpkp.name_gender LIMIT 10;")
res = cur.fetchall()
for r in res:
  print(r)

('name', 'gender')
('Adaleigh', 'F')
('Amryn', 'Unisex')
('Apurva', 'Unisex')
('Aryion', 'M')
('Alixia', 'F')
('Alyssarose', 'F')
('Arvell', 'M')
('Aibel', 'M')
('Atiyyah', 'F')

In [20]:
cur.execute("DELETE FROM kpdpkp.name_gender;")

In [21]:
cur.execute("INSERT INTO kpdpkp.name_gender VALUES ('Keeyong', 'Male');")

In [22]:
cur.execute("SELECT * FROM kpdpkp.name_gender LIMIT 10;")
res = cur.fetchall()
for r in res:
  print(r)

('Keeyong', 'Male')

In [23]:
cur.execute("COMMIT;")   # conn.commit()와 동일. cur.execute("ROLLBACK;")와 conn.rollback()도 동일

In [24]:
conn.close()

# INSERT SQL을 autocommit=False로 실행하고 try/except로 컨트롤하기

In [25]:
conn = get_Redshift_connection(False)
cur = conn.cursor()

In [26]:
try:
  cur.execute("DELETE FROM kpdpkp.name_gender;") 
  cur.execute("INSERT INTO kpdpkp.name_gender VALUES ('Claire', 'Female');")
  conn.commit()  # cur.execute("COMMIT;")와 동일
except (Exception, psycopg2.DatabaseError) as error:
  print(error)
  conn.rollback()  # cur.execute("ROLLBACK;")와 동일
finally :
  conn.close()

# INSERT SQL을 autocommit=True로 실행하고 try/except로 컨트롤하기

In [ ]:
conn = get_Redshift_connection(True)
cur = conn.cursor()

In [ ]:
try:
  cur.execute("BEGIN;")
  cur.execute("DELETE FROM keeyong.name_gender;") 
  cur.execute("INSERT INTO keeyong.name_gender VALUES ('Claire', 'Female');")
  cur.execute("END;")
except (Exception, psycopg2.DatabaseError) as error:
  print(error)
  cur.execute("ROLLBACK;")
finally :
  conn.close()

# INSERT SQL을 autocommit=True로 실행하고 SQL로 컨트롤하기

In [ ]:
conn = get_Redshift_connection(True)
cur = conn.cursor()

In [ ]:
cur.execute("SELECT * FROM keeyong.name_gender;")
res = cur.fetchall()
for r in res:
  print(r)

In [ ]:
cur.execute("BEGIN;")
cur.execute("DELETE FROM keeyong.name_gender;")
cur.execute("INSERT INTO keeyong.name_gender VALUES ('Benjamin', 'Male');")
cur.execute("END;")

# 잘못된 SQL을 중간에 실행해보기

In [ ]:
cur.execute("BEGIN;")
cur.execute("DELETE FROM keeyong.name_gender;")
cur.execute("INSERT INTO keeyong.name_gender2 VALUES ('Andrew', 'Male');")
cur.execute("END;")